body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222;
}

canvas {
  border: 1px solid #ccc;
}

canvas {
  border: 1px solid #ccc;
  border-width: 3px;
  outline: 1px solid #ccc;
  outline-offset: -4px;
  margin: 4px;
}


